---
import NavBar from "../components/NavBar.astro";
import MainLayout from "../Layouts/MainLayout.astro";

const name = 'Raul Zúcar Aceituno';
const title = 'Home page'
---

<MainLayout title="Sobre mí">
    <h1>Sobre mí</h1>
</MainLayout>